# Ignore all
*

# Except these specific files
!.gitignore
!.version
!README.md
!CHANGELOG.md
!LICENSE
!deps.edn
!.keep

# And all these filetypes
!*.clj
!*.bb
!*.ini

# Certainly not these directories
!.github
!.github/workflows
!assets
!assets/driver
!assets/lib
!example-configs
!images
!resources
!scripts
!src
!src/usbsid
!src/usbsid/sid
!src/usbsid/ui
!src/usbsid/ui/sections
!test
!test/usbsid

# Except these paths and contents
!.github/workflows/ci-tagged-build-or-release.yml
!assets/driver/usbsid-usb-driver-library-java-*.jar
!assets/driver/usbsid-usb-driver-library-java-*.pom
!assets/lib/libusb4java-1.3.0-win32-x86-64.jar
!assets/lib/libusb4java-1.3.0-win32-x86-64.jar.sha1
!assets/lib/libusb4java-1.3.0-win32-x86.jar
!assets/lib/libusb4java-1.3.0-win32-x86.jar.sha1
!images/screenshot-linux-1.png
!images/screenshot-linux-2.png
!resources/logging.properties
!resources/mac-entitlements.plist
!resources/usbsid-configtool-icon.png
!resources/usbsid-configtool-icon.icns
!resources/usbsid-configtool-icon.ico
!resources/usbsid-configtool-icon-flat.png
!resources/usbsid-configtool-logo.png
!resources/usbsid-logo.png
!scripts/build-appimage.sh
!scripts/install-libusb4java.sh

# C64 Font => https://style64.org/c64-truetype
!resources/C64_Pro-STYLE.ttf
!resources/C64_Pro_Mono-STYLE.ttf
